.App {
  text-align: center;
}

.time {
  border-style: outset;
  border-radius: 5px;
  padding-left: 10px;
  font-family: 'Inter', sans-serif;
  height:35px;
  box-shadow: 5px 5px lightblue;
  font-size: 20px;
}